@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default, synthwave;
}

.geist {
  font-family: "Geist";
}

.preview {
  box-shadow: 0 0 0 1px var(--color-base-300) inset;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-base-100),
    var(--color-base-100) 12px,
    var(--color-base-300) 13px,
    var(--color-base-300) 14px
  );
  background-size: 40px 40px;
}
